{% extends "base.html" %}
{% block content %}
	<div class="column col-8 col-mr-auto">
     <form action="" method="post" novalidate>
			<h1>{{ title }}</h1>
			<div class="form-group">		            
				{#{{ form.errors }}#}			            
            <div class="column col-2">
                {{ form.groupname.label(class_="form-label") }}
                {{ form.groupname(class_="form-input") }}
                {% for error in form.groupname.errors %}
                    <span class="text-error">[{{ error }}]</span>
                {% endfor %}
            </div>
            {% if group != None %}
	            <div class="column col-4">
	            	 {{ form.star.label(class_="form-label") }}
						 {{ form.star(class_="form-select") }}
	                {% for error in form.star.errors %}
	                 	<span class="text-error">[{{ error }}]</span>
	                {% endfor %}
					</div>
				{% endif %}
         </div>
         <div class="column">
         	<button type="submit" class="btn btn-primary">Сохранить</button>
         </div>
   	</form>
	</div> 
{% endblock %}