{% set subname="sub1" %}
{% extends "base.html" %}
{% block content %}
	<div class="column col-8 col-mr-auto">
		<h1>Список групп</h1>
		{% with messages = get_flashed_messages() %}
		   {% if messages %}
		      {% for message in messages %}
		         {{ message }}
		      {% endfor %}
		   {% endif %}
		{% endwith %}
		<form action="" method="post" novalidate>
			{% include "panel.html" %}
			<button type="submit" class="btn btn-link" name="testdoc">
				<i class="icon icon-download"></i>
				testdoc
			</button>					
			<table class="table table-striped table-hover">
				<tr>
					<th width=3></th>
					<th width=3>№</th>
					<th width=10>группа</th>
					<th>староста</th>
				</tr>   
				{% for g in gr %}
					<tr>
						{% for subfield in form.radio %}
							{% if g.idradio == subfield["id"] %}								
							<td>{{ subfield }}</td>
							{% endif %}
						{% endfor %}
						<td>{{ g.ind }}</td>
						<td>{{ g.grname }}</td>
						<td>{{ g.star }}</td>
					</tr>
				{% endfor %}
			</table>        
			<div class="column">
				
			</div>
			<div class="column">
				
			</div>
		</form>
	</div> 
{% endblock %}