<!DOCTYPE html>
<html>
	{% include "head.html" %}
	<body>
		{% set subname="sub6" %}
		<div class="container">
			<div class="columns">
				<div class="column col-ml-auto">
					{% include "base.html" %}
				</div>
				<div class="column col-8 col-mr-auto">
					<h1>Добавить студента</h1>
					<form class="form-horizontal" action="" method="post" novalidate>
						{{ form.hidden_tag() }}
						<div class="form-group">
							<div class="column col-2">
								{{ form.f.label(class_="form-label") }}
							</div>
							<div class="column col-auto">
								{{ form.f(class_="form-input") }}
							</div>
							<div class="column col-auto">
								{% for error in form.f.errors %}
									<span class="text-error">[{{ error }}]</span>
								{% endfor %}
							</div>
						</div>	
						<div class="form-group">	
							<div class="column col-2">
								{{ form.i.label(class_="form-label") }}
							</div>
							<div class="column col-auto">
								{{ form.i(class_="form-input") }}
							</div>
							<div class="column col-auto">	
								{% for error in form.i.errors %}
									<span class="text-error">[{{ error }}]</span>
								{% endfor %}
							</div>
						</div>
							<div class="form-group">
								<div class="column col-2">
									{{ form.o.label(class_="form-label") }}
								</div>
								<div class="column col-auto">
									{{ form.o(class_="form-input") }}
								</div>
								<div class="column col-auto">
									{% for error in form.o.errors %}
										<span class="text-error">[{{ error }}]</span>
									{% endfor %}
								</div>
							</div>
							<div class="form-group">
								<div class="column col-2">
									{{ form.bdate.label(class_="form-label") }}
								</div>
								<div class="column col-auto">
									{{ form.bdate(class_="form-input") }}
								</div>
								<div class="column col-auto">
									{% for error in form.bdate.errors %}
										<span class="text-error">[{{ error }}]</span>
									{% endfor %}
								</div>
							</div>
							<div class="form-group">
								<div class="column col-2">
									{{ form.t.label(class_="form-label") }}
								</div>
								<div class="column col-auto">
									{{ form.t(class_="form-input") }}
								</div>
								<div class="column col-auto">
									{% for error in form.t.errors %}
										<span class="text-error">[{{ error }}]</span>
									{% endfor %}
								</div>
							</div>
							<div class="form-group">
								<div class="column col-2">
									{{ form.name.label(class_="form-label") }}
								</div>
								<div class="column col-auto">
									{{ form.name(class_="form-select") }}
								</div>
								<div class="column col-auto">
									{% for error in form.name.errors %}
										<span class="text-error">[{{ error }}]</span>
									{% endfor %}
								</div>
							</div>
							<div class="column col-1">{{ form.submit1(class="btn btn-primary") }}</div>
					</form>
				</div> 
				{% include "view_usr.html" %}
			</div>
		</div>
	</body>
</html>
