<div class="container">
	<div class="columns">
		<div class="column col-1">
			<div class="btn-group">
				<div class="p-centered">
					<a href='/index'><img src="/static/img/label.png" width="100" height="100" alt="label"></a>
				</div>
				{% if subname =='sub1' %}
					<a name='sub1' href='/group/list' class="btn active">Вывести список групп</a>
				{% else %}
					<a name='sub1' href='/group/list' class="btn">Вывести список групп</a>
				{% endif %}
				{% if subname =='sub5' %}
					<a name='sub5' href='/student/list' class="btn active">Вывести список студентов</a>
				{% else %}
					<a name='sub5' href='/student/list' class="btn">Вывести список студентов</a>
				{% endif %}
				{% if subname =='sub9' %}
					<a name='sub9' href='/analis/countstud' class="btn active">Вывести количество студентов</a>    
				{% else %}
					<a name='sub9' href='/analis/countstud' class="btn">Вывести количество студентов</a>    
				{% endif %}
				{% if not logform and session['isadmin'] %}
					<div class="btn-group">
						<div class="p-centered">
							<span class="label label-primary">Администрирование</span>
						</div>
						<a name='addusr' href='/admin/addusr' class="btn">Добавить пользователя</a>
					</div>
				{% endif %}
			</div>
		</div>
	</div>
</div>
