<div class="container">
	<div class="columns">
		<div class="column col-1">
			<div class="btn-group">
				<div class="p-centered">
					<a href='/index'><img src="/static/img/label.png" width="100" height="100" alt="label"></a>
				</div>
				{% if subname =='sub1' %}
					<a name='sub1' href='/group/list' class="btn active">Вывести список групп</a>
				{% else %}
					<a name='sub1' href='/group/list' class="btn">Вывести список групп</a>
				{% endif %}
				{% if subname =='sub2' %}
					<a name='sub2' href='/group/add' class="btn active">Добавить группу</a>
				{% else %}
					<a name='sub2' href='/group/add' class="btn">Добавить группу</a>
				{% endif %}
				{% if subname =='sub3' %}
					<a name='sub3' href='/group/up' class="btn active">Изменить группу</a>
				{% else %}
					<a name='sub3' href='/group/up' class="btn">Изменить группу</a>
				{% endif %}
				{% if subname =='sub4' %}
					<a name='sub4' href='/group/del' class="btn active">Удалить группу</a>
				{% else %}
					<a name='sub4' href='/group/del' class="btn">Удалить группу</a>
				{% endif %}
				{% if subname =='sub5' %}
					<a name='sub5' href='/student/list' class="btn active">Вывести список студентов</a>
				{% else %}
					<a name='sub5' href='/student/list' class="btn">Вывести список студентов</a>
				{% endif %}
				{% if subname =='sub6' %}
					<a name='sub6' href='/student/add' class="btn active">Добавить студента</a>
				{% else %}
					<a name='sub6' href='/student/add' class="btn">Добавить студента</a>
				{% endif %}
				{% if subname =='sub7' %}
					<a name='sub7' href='/student/up' class="btn active">Изменить студента</a>
				{% else %}
					<a name='sub7' href='/student/up' class="btn">Изменить студента</a>
				{% endif %}
				{% if subname =='sub8' %}
					<a name='sub8' href='/student/del' class="btn active">Удалить студента</a>
				{% else %}
					<a name='sub8' href='/student/del' class="btn">Удалить студента</a>
				{% endif %}
				{% if subname =='sub9' %}
					<a name='sub9' href='/analis/countstud' class="btn active">Вывести количество студентов</a>    
				{% else %}
					<a name='sub9' href='/analis/countstud' class="btn">Вывести количество студентов</a>    
				{% endif %}
				{% if not logform and session['isadmin'] %}
					<div class="btn-group">
						<div class="p-centered">
							<span class="label label-primary">Администрирование</span>
						</div>
						<a name='addusr' href='/admin/addusr' class="btn">Добавить пользователя</a>
					</div>
				{% endif %}
			</div>
		</div>
	</div>
</div>
